<!DOCTYPE html>
<html>
<head>
    <title>Timetable</title>
</head>
<body>

<h1>Student Timetable</h1>

<table border="1">
<tr>
    <th>Day</th>
    <th>Subject</th>
</tr>

<tr>
    <td>Monday</td>
    <td>Python</td>
</tr>

<tr>
    <td>Tuesday</td>
    <td>DBMS</td>
</tr>

<tr>
    <td>Wednesday</td>
    <td>Cloud Computing</td>
</tr>

<tr>
    <td>Thursday</td>
    <td>Mathematics</td>
</tr>

<tr>
    <td>Friday</td>
    <td>Data Structures</td>
</tr>

</table>

<br>

<a href="/dashboard">Dashboard</a>

</body>
</html>